---
title: Fonts
description: fonts Guide
permalink: /fonts/
markdownTemplateEngine: njk
fonts:
  - Diatype
  - InterVariable
  - Forrest
  - Courier Prime
  - CalSans
  - Fern
  - Fraunces
  - Graveur
  - Futura Now Var
  - Marauder
  - Helvetica Monospaced Pro
  - Monolisa
  - Kalice
  - IBM Plex Mono
  - Monaspace Xenon Var
  - NationalPark
---

<h1>Font test file</h1>

{% for font in fonts %}
<div class="card" style="font-family: '{{ font }}' !important;">
  <h2 style="font-family: '{{ font }}' !important;">{{ font }}</h2>
  <p>Standard implements <strong>fine-art typography</strong> with smart quotes, proper punctuation, widow prevention, and multi-locale support. <em>The golden ratio</em> governs all typographic relationships.</p>
  <p>No one shall be subjected to arbitrary arrest, detention or exile.<p>
  <p>Everyone is entitled in full equality to a fair and public hearing by an independent and impartial tribunal, in the determination of his rights and obligations and of any criminal charge against him.<p>
  <aside style="font-family: '{{ font }}' !important;" class="info">This looks nice</aside>
  <p>No one shall be subjected to arbitrary interference with his privacy, family, home or correspondence, nor to attacks upon his honour and reputation. Everyone has the right to the protection of the law against such interference or attacks.</p>
  <ul>
    <li>Bullet list 1</li>
    <li>Bullet list 2</li>
    <li>Bullet list 3</li>
  </ul>

  <p>Everyone has the right to freedom of thought, conscience and religion; this right includes freedom to change his religion or belief, and freedom, either alone or in community with others and in public or private, to manifest his religion or belief in teaching, practice, worship and observance.</p>
  <h2 style="font-family: '{{ font }}' !important;">Header 2</h2>
  <p>Everyone has the right to freedom of thought, conscience and religion; this right includes freedom to change his religion or belief, and freedom, either alone or in community with others and in public or private, to manifest his religion or belief in teaching, practice, worship and observance.</p>
  <h3 style="font-family: '{{ font }}' !important;">Header 3</h3>
  <p>Everyone has the right to freedom of thought, conscience and religion; this right includes freedom to change his religion or belief, and freedom, either alone or in community with others and in public or private, to manifest his religion or belief in teaching, practice, worship and observance.</p>
  <blockquote style="font-family: '{{ font }}' !important;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</blockquote>
  <p>Everyone has the right to freedom of thought, conscience and religion; this right includes freedom to change his religion or belief, and freedom, either alone or in community with others and in public or private, to manifest his religion or belief in teaching, practice, worship and observance.</p>
  <hr>
  <p>Everyone.</p>
</div>
{% endfor %}
