<style>
  .logo_icon {
    font-family: "IBM Plex Mono", monospace;
    color: var(--color-accent);
    letter-spacing: -0.2em;
    font-weight: 700;
    margin-right: calc(var(--trim) * 1);
    position: relative;
    top: calc(var(--trim) * -0.5);
  }
</style>
<span class="logo_icon">::</span>
