<section id="avatar" class="w-full rounded-lg border scroll-mt-14">
  <header class="border-b p flex items-center justify-between">
    <h2 class="text-sm font-medium">Avatar</h2>
    <a
      href="/components/avatar"
      class="muted hover:text-foreground"
      data-tooltip="See documentation"
      data-side="left"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="size-4"
        ><path d="M12 7v14"></path><path
          d="M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z"
        ></path></svg
      >
    </a>
  </header>
  <div class="p">
    <div class="flex flex-wrap items-center">
      <img
        class="h-2 w-2 rounded"
        alt="@hunvreus"
        src="https://github.com/hunvreus.png"
      />

      <span
        class="size-8 shrink-0 bg-muted flex items-center justify-center rounded-full"
        >CN</span
      >

      <img
        class="h-2 w-2 rounded"
        alt="@hunvreus"
        src="https://github.com/hunvreus.png"
      />

      <img
        class="h-2 w-2 rounded"
        alt="@hunvreus"
        src="https://github.com/hunvreus.png"
      />

      <div
        class="flex -space-x-2 [&_img]:ring-background [&_img]:ring-2 [&_img]:grayscale [&_img]:size-8 [&_img]:shrink-0 [&_img]:object-cover [&_img]:rounded-full"
      >
        <img
          class="h-2 w-2 rounded"
          alt="@hunvreus"
          src="https://github.com/hunvreus.png"
        />
        <img
          class="h-2 w-2 rounded"
          alt="@shadcn"
          src="https://github.com/shadcn.png"
        />
        <img
          class="h-2 w-2 rounded"
          alt="@adamwathan"
          src="https://github.com/adamwathan.png"
        />
      </div>

      <div
        class="flex -space-x-2 [&_img]:ring-background [&_img]:ring-2 [&_img]:grayscale [&_img]:size-12 [&_img]:shrink-0 [&_img]:object-cover [&_img]:rounded-full"
      >
        <img
          class="h-2 w-2 rounded"
          alt="@hunvreus"
          src="https://github.com/hunvreus.png"
        />
        <img
          class="h-2 w-2 rounded"
          alt="@shadcn"
          src="https://github.com/shadcn.png"
        />
        <img
          class="h-2 w-2 rounded"
          alt="@adamwathan"
          src="https://github.com/adamwathan.png"
        />
      </div>

      <div
        class="flex -space-x-2 hover:space-x-1 [&_img]:ring-background [&_img]:size-12 [&_img]:shrink-0 [&_img]:object-cover [&_img]:rounded-full [&_img]:ring-2 [&_img]:grayscale [&_img]:transition-all [&_img]:ease-in-out [&_img]:duration-300"
      >
        <img
          class="h-2 w-2 rounded"
          alt="@hunvreus"
          src="https://github.com/hunvreus.png"
        />
        <img
          class="h-2 w-2 rounded"
          alt="@shadcn"
          src="https://github.com/shadcn.png"
        />
        <img
          class="h-2 w-2 rounded"
          alt="@adamwathan"
          src="https://github.com/adamwathan.png"
        />
      </div>
    </div>
  </div>
</section>
