<section id="button" class="card no-rhythm">
  <header>
    <h2>Button</h2>
    <a
      href="/components/button"
      class="text-muted-foreground hover:text-foreground"
      data-tooltip="See documentation"
      data-side="left"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="size-4"
        ><path d="M12 7v14"></path><path
          d="M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z"
        ></path></svg
      >
    </a>
  </header>
  <div class="flex flex-wrap items-center justify-center p">
    <div class="flex flex-wrap items-center justify-center">
      <button>Primary</button>
      <button class="outline">Outline</button>
      <button class="ghost">Ghost</button>
      <button class="destructive">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path
            d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z"
          ></path><path d="m21.854 2.147-10.94 10.939"></path></svg
        >
        Danger
      </button>
      <button class="secondary">Secondary</button>
      <button class="link">Link</button>
      <button class="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path
            d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z"
          ></path><path d="m21.854 2.147-10.94 10.939"></path></svg
        >
        Send
      </button>
      <button class="secondary">
        Learn more
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg
        >
      </button>
      <button class="outline" disabled>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="animate-spin"
          ><path d="M12 2v4"></path><path d="m16.2 7.8 2.9-2.9"></path><path
            d="M18 12h4"></path><path d="m16.2 16.2 2.9 2.9"></path><path
            d="M12 18v4"></path><path d="m4.9 19.1 2.9-2.9"></path><path
            d="M2 12h4"></path><path d="m4.9 4.9 2.9 2.9"></path></svg
        >
        Loading
      </button>
    </div>

    <div class="flex flex-wrap items-center justify-center">
      <button class="small">Primary</button>
      <button class="small outline">Outline</button>
      <button class="small ghost">Ghost</button>
      <button class="small destructive">Danger</button>
      <button class="small secondary">Secondary</button>
      <button class="small link">Link</button>
      <button class="small outline">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path
            d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z"
          ></path><path d="m21.854 2.147-10.94 10.939"></path></svg
        >
        Send
      </button>
      <button class="small outline">
        Learn more
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg
        >
      </button>
      <button class="small outline" disabled>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="animate-spin"
          ><path d="M12 2v4"></path><path d="m16.2 7.8 2.9-2.9"></path><path
            d="M18 12h4"></path><path d="m16.2 16.2 2.9 2.9"></path><path
            d="M12 18v4"></path><path d="m4.9 19.1 2.9-2.9"></path><path
            d="M2 12h4"></path><path d="m4.9 4.9 2.9 2.9"></path></svg
        >
        Loading
      </button>
    </div>

    <div class="flex flex-wrap items-center justify-center">
      <button class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline
            points="7 10 12 15 17 10"></polyline><line
            x1="12"
            x2="12"
            y1="15"
            y2="3"></line></svg
        >
      </button>
      <button class="icon secondary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline
            points="17 8 12 3 7 8"></polyline><line
            x1="12"
            x2="12"
            y1="3"
            y2="15"></line></svg
        >
      </button>
      <button class="icon outline">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg
        >
      </button>
      <button class="icon ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"
          ></circle><circle cx="5" cy="12" r="1"></circle></svg
        >
      </button>
      <button class="icon destructive">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path d="M3 6h18"></path><path
            d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path><path
            d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path><line
            x1="10"
            x2="10"
            y1="11"
            y2="17"></line><line x1="14" x2="14" y1="11" y2="17"></line></svg
        >
      </button>
      <button class="icon outline" disabled>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="animate-spin"
          ><path d="M12 2v4"></path><path d="m16.2 7.8 2.9-2.9"></path><path
            d="M18 12h4"></path><path d="m16.2 16.2 2.9 2.9"></path><path
            d="M12 18v4"></path><path d="m4.9 19.1 2.9-2.9"></path><path
            d="M2 12h4"></path><path d="m4.9 4.9 2.9 2.9"></path></svg
        >
      </button>
    </div>
  </div>
</section>
