<section id="switch" class="card icon">
  <header class="surface">
    <h2>Switch</h2>
    <a
      href="/components/switch"
      class="text-muted-foreground hover:text-foreground"
      data-tooltip="See documentation"
      data-side="left"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="size-4"
        ><path d="M12 7v14"></path><path
          d="M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z"
        ></path></svg
      >
    </a>
  </header>
  <div class="grid-row">
    <label class="label">
      <input type="checkbox" name="switch" role="switch" class="input" />
      Airplane Mode
    </label>
    <label class="label">
      <input
        type="checkbox"
        name="switch"
        role="switch"
        class="input checked:bg-blue-500 dark:checked:bg-blue-600"
        checked
      />
      Bluetooth
    </label>
    <label class="label border bg-surface round flex p">
      <div class="">
        <h2>Share across devices</h2>
        <p class="muted small compact mt-half">
          Focus is shared across devices, and turns off when you leave the app.
        </p>
      </div>
      <input
        type="checkbox"
        name="switch"
        role="switch"
        class="input checked:bg-blue-500 dark:checked:bg-blue-600"
      />
    </label>
  </div>
</section>
