<section id="tabs" class="w-full rounded-lg border scroll-mt-14">
  <header class="border-b px-4 py-3 flex items-center justify-between">
    <h2 class="text-sm font-medium">Tabs</h2>
    <a
      href="/components/tabs"
      class="text-muted-foreground hover:text-foreground"
      data-tooltip="See documentation"
      data-side="left"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="size-4"
        ><path d="M12 7v14"></path><path
          d="M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z"
        ></path></svg
      >
    </a>
  </header>
  <div class="p">
    <div class="flex flex-col gap-6">
      <div class="tabs max-w-[300px]" id="demo-tabs-with-panels">
        <nav role="tablist" aria-orientation="horizontal" class="w-full">
          <button
            type="button"
            role="tab"
            id="demo-tabs-with-panels-tab-1"
            aria-controls="demo-tabs-with-panels-panel-1"
            aria-selected="true"
            tabindex="0"
          >
            Account
          </button>

          <button
            type="button"
            role="tab"
            id="demo-tabs-with-panels-tab-2"
            aria-controls="demo-tabs-with-panels-panel-2"
            aria-selected="false"
            tabindex="0"
          >
            Password
          </button>
        </nav>

        <div
          role="tabpanel"
          id="demo-tabs-with-panels-panel-1"
          aria-labelledby="demo-tabs-with-panels-tab-1"
          tabindex="-1"
          aria-selected="true"
        >
          <div class="card">
            <header>
              <h2>Account</h2>
              <p>
                Make changes to your account here. Click save when you're done.
              </p>
            </header>
            <section>
              <form class="form grid gap-6">
                <div class="grid gap-3">
                  <label for="demo-tabs-account-name">Name</label>
                  <input
                    type="text"
                    id="demo-tabs-account-name"
                    value="Pedro Duarte"
                  />
                </div>
                <div class="grid gap-3">
                  <label for="demo-tabs-account-username">Username</label>
                  <input
                    type="text"
                    id="demo-tabs-account-username"
                    value="@peduarte"
                  />
                </div>
              </form>
            </section>
            <footer>
              <button type="button" class="btn">Save changes</button>
            </footer>
          </div>
        </div>

        <div
          role="tabpanel"
          id="demo-tabs-with-panels-panel-2"
          aria-labelledby="demo-tabs-with-panels-tab-2"
          tabindex="-1"
          aria-selected="false"
          hidden
        >
          <div class="card">
            <header>
              <h2>Password</h2>
              <p>
                Change your password here. After saving, you'll be logged out.
              </p>
            </header>
            <section>
              <form class="form grid gap-6">
                <div class="grid gap-3">
                  <label for="demo-tabs-password-current"
                    >Current password</label
                  >
                  <input type="password" id="demo-tabs-password-current" />
                </div>
                <div class="grid gap-3">
                  <label for="demo-tabs-password-new">New password</label>
                  <input type="password" id="demo-tabs-password-new" />
                </div>
              </form>
            </section>
            <footer>
              <button type="button" class="btn">Save Password</button>
            </footer>
          </div>
        </div>
      </div>

      <div class="tabs" id="demo-tabs-without-panels">
        <nav role="tablist" aria-orientation="horizontal">
          <button
            type="button"
            role="tab"
            id="demo-tabs-without-panels-tab-1"
            aria-controls="demo-tabs-without-panels-panel-1"
            aria-selected="true"
            tabindex="0"
          >
            Home
          </button>

          <button
            type="button"
            role="tab"
            id="demo-tabs-without-panels-tab-2"
            aria-controls="demo-tabs-without-panels-panel-2"
            aria-selected="false"
            tabindex="0"
          >
            Settings
          </button>
        </nav>
      </div>

      <div class="tabs" id="demo-tabs-disabled">
        <nav role="tablist" aria-orientation="horizontal">
          <button
            type="button"
            role="tab"
            id="demo-tabs-disabled-tab-1"
            aria-controls="demo-tabs-disabled-panel-1"
            aria-selected="true"
            tabindex="0"
          >
            Home
          </button>

          <button
            type="button"
            role="tab"
            id="demo-tabs-disabled-tab-2"
            aria-controls="demo-tabs-disabled-panel-2"
            aria-selected="false"
            tabindex="0"
            disabled="disabled"
          >
            Disabled
          </button>
        </nav>
      </div>

      <div class="tabs" id="demo-tabs-with-icons">
        <nav role="tablist" aria-orientation="horizontal">
          <button
            type="button"
            role="tab"
            id="demo-tabs-with-icons-tab-1"
            aria-controls="demo-tabs-with-icons-panel-1"
            aria-selected="true"
            tabindex="0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><rect x="2" y="4" width="20" height="16" rx="2"></rect><path
                d="M10 4v4"></path><path d="M2 8h20"></path><path d="M6 4v4"
              ></path></svg
            >
            Preview
          </button>

          <button
            type="button"
            role="tab"
            id="demo-tabs-with-icons-tab-2"
            aria-controls="demo-tabs-with-icons-panel-2"
            aria-selected="false"
            tabindex="0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><polyline points="16 18 22 12 16 6"></polyline><polyline
                points="8 6 2 12 8 18"></polyline></svg
            >
            Code
          </button>
        </nav>
      </div>
    </div>
  </div>
</section>
