@use "standard-00-variables" as *;

/* Baskerville */

[data-theme="transitional"] {
    --color-accent: #355c7d;            /* cool refined accent */
    --color-yellow: #cfb26b;            /* restrained gold */
}