[data-theme="minimal"] {
    --shadow: none;
    --color-border: transparent;

    --font-header: "Kalice", sans-serif;
    --font-header-weight: 500;
    --font-header-letter-spacing: 1;
    --font-text: "Diatype", "Kalice", sans-serif;

    --body-padding: var(--rhythm-4);

    table {
        grid-column: content;
    }
    table,
    table th,
    table td,
    table td code {
        font-size: var(--scale-d3);
        font-family: var(--font-monospace);
        word-break: keep-all;
    }

    h1 {
        margin-block: var(--rhythm-7);
    }
}

@font-face {
    font-family: "Diatype";
    font-weight: 200 1000;
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/Cargo-DiatypePlusVariable.woff2") format("woff");
}

@font-face {
    font-family: "Diatype";
    font-weight: 200 1000;
    font-style: italic;
    font-display: swap;
    src: url("/assets/fonts/Cargo-DiatypePlusVariable-Italic.woff2")
        format("woff");
}

@font-face {
    font-family: "Kalice";
    src: url("/assets/fonts/Kalice-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kalice";
    src: url("/assets/fonts/Kalice-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Kalice";
    src: url("/assets/fonts/Kalice-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kalice";
    src: url("/assets/fonts/Kalice-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kalice";
    src: url("/assets/fonts/Kalice-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kalice";
    src: url("/assets/fonts/Kalice-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
