[data-theme="swiss"] {
    --shadow: none;
    --border-radius: 0;
    --border-color: var(--color-foreground);

    --rhythm-multiplier: 1;
    --rhythm-multiplier-block: 0;

    table {
        grid-column: content;
    }
    table,
    table th,
    table td,
    table td code {
        font-size: var(--scale-xs);
        font-family: var(--font-monospace);
        word-break: keep-all;
    }
}
