[data-theme="custom_3"] {
    --color-light-foreground: black;
    --color-light-background: white;
    --color-dark-foreground: white;
    --color-dark-background: black;
    
    --color-background-secondary: var(--color-background);
    --color-border: var(--color-foreground);
}
