[data-theme="marauder"] {
    --font-text: Marauder;

    --color-light-background: #ebe4de;
    --color-light-foreground: #191919;
    --color-dark-background: #191919;
    --color-dark-foreground: #ebe4de;
    --color-light-accent: #2c2f50;

    --font-size: 1.5em;
    --optical-ratio: 1;
    
    --line-height: 1.2;
    
    --mobile-fint-size: 1.5em;

    body {
        background-image: url("assets/img/bg.webp");
        background-size: 100%;
    }

    .container-hero-marge {
        background-image: url("/assets/img/sky+sea.webp");
        background-color: #ebe4de;
        background-blend-mode: multiply;
        margin-inline: calc(var(--body-padding) * -1);
        margin-block-end: calc(var(--base-4) * -1) !important;
        h1 {
            font-size: 4em;
            position: relative;
            top: -30%;
            color: color-mix(in srgb, #191919 95%, #ebe4de);
        }
    }

    ass::first-letter {
        font-size: var(--base-2);
        float: left;
        background-image: url("/assets/img/red.webp");
        background-size: 100px;
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
    }
}
