[data-theme="swiss"] {
    --color-red: red;
    --color-accent: red;
    --shadow: none;
    --border-radius: 0;
    --border-color: var(--color-foreground);
    --color-background-secondary: var(--color-background);

    --rhythm-multiplier: 1;
    --rhythm-multiplier-block: 0;

    blockquote {
        border: 0;
        border-inline-start: var(--space-3xs) solid var(--color-foreground);
    }

    table {
        grid-column: content;
    }
    table,
    table th,
    table td,
    table td code {
        font-size: var(--scale-xs);
        font-family: var(--font-monospace);
        word-break: keep-all;
    }
}
