[data-theme="minimal"] {
    --shadow: none;

    --color-dark-foreground: #ccc;
    --color-dark-background: #222;

    --font-header: "Kalice", sans-serif;
    --font-header-weight: 500;
    --font-header-letter-spacing: 1;
    --font-text: "CalSans", "Diatype", "Kalice", sans-serif;
    --font-variation: "MODE" 1;

    --body-padding: var(--base);
    --optical-ratio: 1.3;
    --line-width: var(--line-width-s);
    --font-size: 1.1em;

    --line-height: 1.5;

    --base-gap: var(--base);
    --base-block-gap: var(--base-2);

    h1 {
        margin-block-start: var(--base-8);
        margin-block-end: var(--base-8);
        text-align: center;
    }

    blockquote,
    pre {
        padding: var(--base-d2);
        padding-block: 0;
        border: 0;
        border-left: 1px solid var(--color-foreground);
        background: transparent;
        color: var(--color-foreground);
        .copy-button {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    pre {
        padding: var(--base-d2);
        border: 0;
        background: var(--color-background-secondary);
        .copy-button {
            position: absolute;
            top: var(--base-d2);
            right: var(--base-d2);
        }
    }
}

@font-face {
    font-family: "Diatype";
    font-weight: 200 1000;
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/Cargo-DiatypePlusVariable.woff2") format("woff");
}

@font-face {
    font-family: "Diatype";
    font-weight: 200 1000;
    font-style: italic;
    font-display: swap;
    src: url("/assets/fonts/Cargo-DiatypePlusVariable-Italic.woff2")
        format("woff");
}

@font-face {
    font-family: "CalSans";
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/CalSansUI[MODE,wght].woff2") format("woff");
}

@font-face {
    font-family: "Diatype";
    font-weight: 200 1000;
    font-style: italic;
    font-display: swap;
    src: url("/assets/fonts/Cargo-DiatypePlusVariable-Italic.woff2")
        format("woff");
}

@font-face {
    font-family: "Kalice";
    src: url("/assets/fonts/Kalice-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kalice";
    src: url("/assets/fonts/Kalice-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Kalice";
    src: url("/assets/fonts/Kalice-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kalice";
    src: url("/assets/fonts/Kalice-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kalice";
    src: url("/assets/fonts/Kalice-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kalice";
    src: url("/assets/fonts/Kalice-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
