[data-theme="swiss"] {
    --color-red: red;
    --color-green: red;
    --color-blue: red;
    --color-yellow: red;
    --color-purple: red;
    --color-orange: red;
    --color-pink: red;
    --color-accent: red;
    --shadow: none;
    --radius: 0;
    --color-border: none;
    --color-muted: var(--color-foreground);

    --color-dark-foreground: #ccc;

    --optical-ratio: 1.8;
    --mobile-font-ratio: 2;
    --body-padding: var(--base-4);
    --font-monospace: "Helvetica Monospaced Pro", monospace;
    --font-text: Diatype;
    --line-height: 1.5;
    --font-size: 2em;

    --gap: clamp(var(--base), 6%, var(--base-4));
    --content: min(var(--line-width), 100% - var(--gap) * 2); /* ← FIXED */
    --content-small: var(--base-block-gap);
    --content-accent: minmax(0, var(--base-2));
    --content-feature: minmax(0, var(--base-4));
    --content-hero: minmax(0, 1fr);

    --gap: 1;

    hr {
        background: var(--color-foreground);
    }

    code,
    .token {
        color: var(--color-foreground) !important;
    }

    .prose {
        margin-left: 0%;
    }

    .prose {
        display: block;
    }
    img {
        border: 0;
    }

    .prose :is(p, blockquote, pre, details, li, hr, .scroll, .callout) {
        max-width: var(--line-width-s);
        margin-inline: 0;
    }

    body {
        background-color: var(--color-background);
        color: var(--color-foreground);
        max-width: 1400px;
    }

    h1 {
        margin-block-start: var(--base-8);
        margin-block-end: var(--base-4);
    }
    h2,
    h3 {
        margin-bottom: var(--base-d2);
    }

    header {
        display: block;
    }

    pre {
        padding: 0;
        padding-block: var(--base-d2);
        margin-block: var(--base-d2);
        border: 0;
        background-color: var(--color-background);
        code {
            opacity: 1;
        }
    }

    footer hr {
        display: none;
    }

    .comment {
        opacity: 0.2;
    }

    blockquote {
        border: 0;
        border-inline-start: 1px solid var(--color-foreground);
    }

    table {
        grid-column: content;
    }
    table,
    table th,
    table td,
    table td code {
        font-size: var(--scale-d3);
        font-family: var(--font-monospace);
        word-break: keep-all;
    }
}

@font-face {
    font-family: "Helvetica Monospaced Pro";
    src: url("/assets/fonts/HelveticaMonospacedPro-Rg.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Monospaced Pro";
    src: url("/assets/fonts/HelveticaMonospacedPro-Bd.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Monospaced Pro";
    src: url("/assets/fonts/HelveticaMonospacedPro-BdIt.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Monospaced Pro";
    src: url("/assets/fonts/HelveticaMonospacedPro-It.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
