[data-theme="custom_2"] {
    --font-header: InterVariable;
    --font-interface: var(--font-sans-condensed);
    --line-height: 1.2;
    
    h1 {
        letter-spacing: -0.065em;
        font-weight:800;
    }
    .font-interface{
        font-size:12px;
     }
}
