@use "standard-00-variables" as *;

/* Adobe Jenson Pro 
and futura*/

[data-theme="venetian"] {
    --color-light-accent: #7b3f00;            /* burnt umber */
    --color-blue: #2f4e6e;              /* lapis-like */
    --color-yellow: #c2a94b;
    --color-dark-accent: color-mix(in srgb, var(--color-dark-foreground) 25%, #b08a4b);
}