[data-theme="zed"] {
    --color-light-background: #f7f3ee;
    --color-light-foreground: #4a341c;

    /* Accent system */
    --color-light-red: #df453a; /* warning, highlight */
    --color-light-orange: #e08e1f; /* attention blocks */
    --color-light-yellow: #d69a00; /* vintage punchcard yellow */
    --color-light-green: #4ca06b; /* success, approval */
    --color-light-cyan: #2aa198; /* teal-y terminal feel */
    --color-light-blue: #2882c3; /* link, info */
    --color-light-purple: #d16d92; /* utility, label tags */
    --color-light-pink: #ea76cb; /* softer technical touch */

    --color-dark-background: #231e1a;
    --color-dark-foreground: #e6cfb3;

    /* Accent system */
    --color-dark-red: #d0483e;
    --color-dark-orange: #da702c;
    --color-dark-yellow: #d69a00;
    --color-dark-green: #27a06c;
    --color-dark-cyan: #81c8be;
    --color-dark-blue: #8caaee;
    --color-dark-purple: #8b7ec8;
    --color-dark-pink: #f4b8e4;

    /* Code and UI extras */
    --color-accent: var(--color-blue);
    --color-code: var(--color-foreground);
    --color-bold: var(--color-red);
    --color-italic: var(--color-green);

    --color-dark-accent: var(--color-purple);
    --color-dark-bold: var(--color-pink);

    --body-padding: var(--base);
    --rhythm-gap: 1;
    --rhythm-gap-block: 1;
    --shadow: 0;
    --border-radius: 0;

    --font-text: "MonoLisa";
    --font-feature: "onum", "liga", "clig", "calt", "zero", "ss05";
    --font-variation: "MONO" 1;
    --font-header: "MonoLisa";
    --font-monospace: "MonoLisa";
    --font-monospace-feature:
        "liga", "zero", "calt", "ss02", "ss03", "ss07", "ss10", "ss15", "ss16";
    --font-interface: "Monolisa";

    --font-header-weight: 700;
    --font-header-feature:
        "onum", "liga", "calt", "case", "cv01", "cv02", "cv03", "cv04", "cv06",
        "cv09", "cv10", "cv11", "cv12", "cv13";
    --font-header-variation: "";
    --font-header-letter-spacing: -0.065em;
    --font-header-line-height: 0.75em;

    --line-width: var(--line-width-xs);
    /*--color-header: color-mix(in srgb, var(--color-foreground) 75%, var(--color-background));*/
}

h1 {
    margin-block-start: var(--base-8);
    margin-block-end: var(--base-8);
}
h1,
h2,
h3 {
    opacity: 0.85;
}

.font-interface {
    opacity: 0.5;
    font-size: var(--scale-d2);
}

code {
    border: var(--border);
    box-shadow: var(--shadow);
}

@font-face {
    font-family: "Oktah Round Variable";
    /* Add other properties here, as needed. For example: */
    font-weight: 100 900;
    font-style: normal;
    src: url("https://cdn.ffp.co/oktah_round_variable.woff2");
}
@font-face {
    font-family: "MonoLisa";
    /* Add other properties here, as needed. For example: */
    font-weight: 100 1000;
    font-style: normal;
    src: url("https://cdn.ffp.co/MonoLisa-Regular-Variable.woff2");
}
@font-face {
    font-family: "MonoLisa";
    /* Add other properties here, as needed. For example: */
    font-weight: 100 1000;
    font-style: italic;
    src: url("https://cdn.ffp.co/MonoLisa-RegularItalic-Variable.woff2");
}
@font-face {
    font-family: "National Park";
    src: url("/assets/fonts/NationalPark-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
