[data-theme="custom_3"] {
    --color-light-foreground: black;
    --color-light-background: white;
    --color-dark-foreground: white;
    --color-dark-background: black;
    --color-accent: grey;
    
    --color-background-secondary: var(--color-background);
    --color-border: var(--color-foreground);
    --color-muted: color-mix(in srgb, var(--color-foreground) 75%, transparent);
    --color-subtle: color-mix(
        in srgb,
        var(--color-foreground) 50%,
        transparent
    );
}
