@font-face {
    font-family: "Futura Now Var";
    src: url("/assets/fonts/FuturaNowVar-Italic.woff2") format("woff2");
    font-weight: 100 1000;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Futura Now Var";
    src: url("/assets/fonts/FuturaNowVar-Roman.woff2") format("woff2");
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Courier Prime";
    src: url("/assets/fonts/CourierPrime-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Courier Prime";
    src: url("/assets/fonts/CourierPrime-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Courier Prime Code";
    src: url("/assets/fonts/CourierPrimeCode-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Courier Prime Sans";
    src: url("/assets/fonts/CourierPrimeSans-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Courier Prime Code";
    src: url("/assets/fonts/CourierPrimeCode-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Courier Prime";
    src: url("/assets/fonts/CourierPrime-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Courier Prime";
    src: url("/assets/fonts/CourierPrime-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Courier Prime Sans";
    src: url("/assets/fonts/CourierPrimeSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Courier Prime";
    src: url("/assets/fonts/CourierPrime.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Courier Prime Sans";
    src: url("/assets/fonts/CourierPrimeSans-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Courier Prime Sans";
    src: url("/assets/fonts/CourierPrimeSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Courier Prime";
    src: url("/assets/fonts/CourierPrime-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Monosten Pro Var";
    src: url("/assets/fonts/MonostenProVar.woff2") format("woff2");
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "IBM Plex Mono";
    src: url("/assets/fonts/IBMPlexMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
[data-theme="paper"] {
    --color-light-foreground: #262320;
    --color-light-foreground: #241b10;
    --color-light-background: #fffbe9;
    --color-light-red: #b44e41;
    --color-light-orange: #e28400;
    --color-light-yellow: #dbb539;
    --color-light-green: #5f9c53;
    --color-light-cyan: #1faba6;
    --color-light-blue: #308bb8;
    --color-light-purple: #bb90c1;
    --color-light-pink: #df9cbf;

    --color-dark-foreground: #9e7f5b;
    --color-dark-foreground: oklch(70.71% 0.0733 70.41);
    --color-dark-background: #1d2027;
    --color-dark-red: #9c392e;
    --color-dark-orange: #934b22;
    --color-dark-yellow: #8c7528;
    --color-dark-green: #446b32;
    --color-dark-cyan: #1c7571;
    --color-dark-blue: #1b6599;
    --color-dark-purple: #63409a;
    --color-dark-pink: #8b376a;

    --color-light-accent: var(--color-light-yellow) !important;
    --color-dark-accent: var(--color-light-yellow) !important;

    --optical-ratio: 1.6;
    --line-height: 1.2;

    --font-text: "Courier Prime";
    --font-feature: "";
    --font-variation: "wght" 300;

    --font-interface: "IBM Plex Mono";
    --font-monosapce: "IBM Plex Mono";

    --font-header: "Futura Now Var";
    --font-header-feature: "";
    --font-header-variation: "wght" 450, "wdth" 100;
    --font-header-line-height: 0.9em;
    --font-header-letter-spacing: 0em;

    h1 {
        opacity: 85%;
    }

    table {
        grid-column: content;
    }
    table,
    table th,
    table td,
    table td code {
        font-size: var(--scale-d3);
        font-family: var(--font-monospace);
        word-break: keep-all;
    }

    blockquote {
        border-inline-start: calc(var(--base-d4) * var(--base-gap)) solid
            var(--color-muted);
    }

    h1,
    > h1:where(:first-child) {
        margin-block-start: var(--base-4);
        margin-block-end: var(--base-2);
    }
    h1:first-child + p {
        margin-block-start: calc(var(--base) * -1);
        margin-block-end: var(--base-4);
    }

    h2 {
        margin-block-start: var(--base-4);
        margin-block-end: var(--base-2);
    }

    background: var(--color-background-secondary);

    body {
        max-width: 768px;
        border: var(--border);
        box-shadow: var(--shadow);
        background: var(--color-background);
        margin: 0;
    }
}
