@use "standard-00-variables" as *;

[data-theme="blueprint"] {
    --color-light-background: #1a4d7a;
    --color-light-foreground: #f0f4f8;
    --color-dark-foreground: var(--color-light-foreground);
    --color-dark-background: var(--color-light-background);

    /* Accent system */
    --color-light-red: #af3029; /* warning, highlight */
    --color-light-orange: #bc5215; /* attention blocks */
    --color-light-yellow: #ad8301; /* vintage punchcard yellow */
    --color-light-green: #66800b; /* success, approval */
    --color-light-cyan: #24837b; /* teal-y terminal feel */
    --color-light-blue: #205ea6; /* link, info */
    --color-light-purple: #5e409d; /* utility, label tags */
    --color-light-pink: #a02f6f; /* softer technical touch */

    /* Accent system
    --color-dark-red: #d14d41;
    --color-dark-orange: #da702c;
    --color-dark-yellow: #ad8301;
    --color-dark-green: #879a39;
    --color-dark-cyan: #24837b;
    --color-dark-blue: #4385be;
    --color-dark-purple: #8b7ec8;
    --color-dark-pink: #ce5d97;
    */

    /* Code and UI extras */
    --color-accent: var(--color-orange);
    --color-code: var(--color-foreground);
    --color-bold: var(--color-red);
    --color-italic: var(--color-green);

    --color-dark-accent: var(--color-purple);
    --color-dark-bold: var(--color-pink);

    --font-text: "Diatype", "Oktah Round Variable";
    --font-feature: "tnum", "liga", "clig", "kern", "calt", "zero", "ss05";
    --font-variation: "MONO" 1;
    --font-header: InterVariable;
    --font-monospace: "MonoLisa";
    --font-monospace-feature:
        "liga", "zero", "calt", "ss02", "ss03", "ss07", "ss10", "ss15", "ss16";
    --font-interface: "Diatype";

    --optical-ratio: 1.425;
    --font-header-weight: 900;
    --font-header-feature:
        "liga", "calt", "case", "kern", "cv01", "cv02", "cv03", "cv04", "cv06",
        "cv09", "cv10", "cv11", "cv12", "cv13";
    --font-header-variation: "";
    --font-header-letter-spacing: -0.065em;
    --font-header-line-height: 0.75em;
    /*--color-header: color-mix(in srgb, var(--color-foreground) 75%, var(--color-background));*/

    .dark {
        --color-accent: var(--color-purple);
        --color-bold: var(--color-pink);
    }

    --blueprint-opacity: 20%;

    :is(#{$rhythm-elements}) {
        outline: 1px dashed
            color-mix(
                in srgb,
                var(--color-foreground) var(--blueprint-opacity),
                transparent
            );
        border-radius: var(--base);
        outline-offset: var(--base-gap);
    }

    :is(#{$rhythm-block-elements}) {
        position: relative;
        outline-offset: var(--base-block-gap);
    }
    :is(#{$rhythm-block-elements})::before {
        content: "Block";
        position: absolute;
        opacity: var(--blueprint-opacity);
        font-size: var(--scale-d2);
        font-family: var(--font-monospace);
        color: var(--color-foreground);
        font-style: italic;
        top: calc(var(--base-d4) * -1);
        left: calc(var(--base) * -3);
        transform: translateX(-100%);
        z-index: 999999999;
    }

    :is(#{$rhythm-block-small}) {
        position: relative;
        border: none;
    }
    :is(#{$rhythm-block-small})::before {
        content: "Small";
        opacity: var(--blueprint-opacity);
        font-size: var(--scale-d2);
        color: var(--color-foreground);
        font-style: italic;
        font-family: var(--font-monospace);
        position: absolute;
        top: calc(var(--base-d4) * -1);
        left: calc(var(--base) * -3);
        transform: translateX(-100%);
    }

    :is(h1, h2, h3, h4, h5, h6) {
        position: relative;
        border: none;
    }
    :is(h1, h2, h3, h4, h5, h6)::before {
        content: "Title";
        opacity: var(--blueprint-opacity);
        font-size: var(--scale-d2);
        color: var(--color-foreground);
        font-style: italic;
        font-weight: 400;
        font-family: var(--font-monospace);
        position: absolute;
        top: calc(var(--base-d4) * -1);
        left: calc(var(--base) * -3);
        transform: translateX(-100%);
    }

    :is(pre) {
        position: relative;
        border: none;
    }
    :is(pre)::before {
        content: "Code";
        opacity: var(--blueprint-opacity);
        font-size: var(--scale-d2);
        color: var(--color-foreground);
        font-style: italic;
        font-weight: 400;
        font-family: var(--font-monospace);
        position: absolute;
        top: calc(var(--base-d4) * -1);
        left: calc(var(--base) * -3);
        transform: translateX(-100%);
    }

    :is(p) {
        position: relative;
        border: none;
    }
    :is(p)::before {
        content: "Text";
        opacity: var(--blueprint-opacity);
        font-size: var(--scale-d2);
        color: var(--color-foreground);
        font-style: italic;
        font-weight: 400;
        font-family: var(--font-monospace);
        position: absolute;
        top: calc(var(--base-d4) * -1);
        left: calc(var(--base) * -3);
        transform: translateX(-100%);
    }

    :is(p:has(img))::before {
        content: "Medias" !important;
    }

    body::before {
        --color-grid: var(--color-foreground);
        --percent-grid: 8%;
        --grid-unit: var(--base);
        content: "";
        position: fixed;
        inset: 0;
        mix-blend-mode: normal;
        opacity: 1;
        background-image:
            /* Horizontal lines */
            repeating-linear-gradient(
                to bottom,
                transparent 0,
                transparent calc(var(--grid-unit) - 1px),
                color-mix(
                        in srgb,
                        var(--color-grid) var(--percent-grid),
                        transparent
                    )
                    calc(var(--grid-unit) - 1px),
                color-mix(
                        in srgb,
                        var(--color-grid) var(--percent-grid),
                        transparent
                    )
                    var(--grid-unit)
            ),
            /* Vertical lines */
                repeating-linear-gradient(
                    to right,
                    transparent 0,
                    transparent calc(var(--grid-unit) - 1px),
                    color-mix(
                            in srgb,
                            var(--color-grid) var(--percent-grid),
                            transparent
                        )
                        calc(var(--grid-unit) - 1px),
                    color-mix(
                            in srgb,
                            var(--color-grid) var(--percent-grid),
                            transparent
                        )
                        var(--grid-unit)
                );
        pointer-events: none;
        z-index: 10000;
    }
}

@font-face {
    font-family: "MonoLisa";
    /* Add other properties here, as needed. For example: */
    font-weight: 100 1000;
    font-style: normal;
    src: url("/assets/fonts/MonoLisa-Regular-Variable.woff2");
}
@font-face {
    font-family: "MonoLisa";
    /* Add other properties here, as needed. For example: */
    font-weight: 100 1000;
    font-style: italic;
    src: url("/assets/fonts/MonoLisa-RegularItalic-Variable.woff2");
}
