[data-theme="custom_2"] {
    --font-header: InterVariable;
    --line-height: 1.2;
    
    h1 {
        letter-spacing: -0.065em;
        font-weight:900;
        line-height:0.965
    }
    .font-interface{
        font-size:12px;
     }
}
