[data-theme="avantgarde"] {
    --color-light-foreground: #393633;
    --color-light-background: #e7e8e7;
    --color-light-red: #e24c4b;
    --color-light-red: #ff7535;
    --color-light-orange: #ff7535; /*ea6c33;*/
    --color-light-yellow: #ffc857;
    --color-light-green: #4a9e74;
    --color-light-cyan: #3cbfc1;
    --color-light-blue: #3673b3;
    --color-light-pink: #ec7aa4;
    --color-light-purple: #a685e2;

    --color-dark-foreground: #dcdad6;
    --color-dark-background: #262421;
    --color-dark-red: #e35c4a;
    --color-dark-orange: #d0a215;
    --color-dark-yellow: #f4c95d;
    --color-dark-green: #67b77e;
    --color-dark-cyan: #53d6cf;
    --color-dark-blue: #5794e0;
    --color-dark-pink: #f28aaf;
    --color-dark-purple: #b299e0;

    --color-accent: var(--color-orange);

    --ratio: 1.6;
    --font-text: "Diatype"; /* "Solitaire MVB Pro"; */
    --font-header: "ITC Avant Garde Pro";
    --font-monospace: "Diatype";
    --font-header-weight: 600;
    --font-header-letter-spacing: -0.05em;
    --nav-item-weight: 500;
    --nav-item-weight-active: 500;
    --bold-weight: 500;

    article a {
        text-decoration: none !important;
    }
    article a:hover {
        text-decoration: none !important;
    }

    html.theme-dark::before {
        opacity: 1;
    }
    html.theme-dark::after {
        opacity: 1;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .footer h2 a {
        text-shadow: 0px 0px 0.01em
            color-mix(
                in srgb,
                var(--color-foreground) 90%,
                var(--color-background)
            );
        color: transparent;
        text-decoration: none;
    }
    h1 {
        font-feature-settings: "dlig" on;
        font-weight: 600;
        text-transform: uppercase;
        text-shadow: 0px 0px 0.01em
            color-mix(in srgb, var(--color-orange) 90%, var(--color-background));
        color: transparent;
    }

    h5,
    h6 {
        font-weight: 600;
    }

    img {
        filter: none !important;
        mix-blend-mode: normal !important;
    }

    article ul,
    article ul:not([start]) {
        list-style: none;
        padding: 0 calc(var(--rhythm) * 1);
    }
}
@font-face {
    font-family: "ITC Avant Garde Pro";
    src: url("https://cdn.ffp.co/ITCAvantGardePro-XLt.woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "ITC Avant Garde Pro";
    src: url("https://cdn.ffp.co/ITCAvantGardePro-XLtObl.woff2");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "ITC Avant Garde Pro";
    src: url("https://cdn.ffp.co/ITCAvantGardePro-Bk.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ITC Avant Garde Pro";
    src: url("https://cdn.ffp.co/ITCAvantGardePro-BkObl.woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "ITC Avant Garde Pro";
    src: url("https://cdn.ffp.co/ITCAvantGardePro-Md.woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "ITC Avant Garde Pro";
    src: url("https://cdn.ffp.co/ITCAvantGardePro-MdObl.woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "ITC Avant Garde Pro";
    src: url("https://cdn.ffp.co/ITCAvantGardePro-Demi.woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ITC Avant Garde Pro";
    src: url("https://cdn.ffp.co/ITCAvantGardePro-DemiObl.woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "ITC Avant Garde Pro";
    src: url("https://cdn.ffp.co/ITCAvantGardePro-Bold.woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ITC Avant Garde Pro";
    src: url("https://cdn.ffp.co/ITCAvantGardePro-BoldObl.woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
