/* Baskerville */

[data-theme="transitional"] {
    --color-accent: #355c7d; /* cool refined accent */
    --color-yellow: #cfb26b; /* restrained gold */
    --font-text: "berthold-baskerville-pro";
    letter-spacing: -0.002em;
    --tracking-body: -0.002em;
}
