[class|="grid"] div {
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--color-background-secondary);
    box-shadow: inset var(--shadow);
    padding: var(--rhythm);
    font-size: var(--scale-d2);
    font-family: var(--font-monospace);
}
.grid-sidebar,
.grid-sidebar-left {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--rhythm);
}
.grid-sidebar-left {
    grid-template-columns: 1fr 3fr;
}
