/**
 * @component SCSS Variables & Mixins
 * @category Foundation
 * @description Responsive breakpoints and rhythm application mixins for consistent
 * vertical rhythm and spacing across all elements. These mixins ensure proper
 * spacing application for rhythm-aware components.
 *
 * @prop {variable} $mobile Mobile breakpoint (480px)
 * @prop {variable} $small Small screen breakpoint (768px)
 * @prop {variable} $large Large screen breakpoint (1024px)
 * @prop {variable} $wide Wide screen breakpoint (1440px)
 *
 * @example
 * // Using breakpoint variables
 * @media (min-width: $small) {
 *   font-size: 1.2rem;
 * }
 *
 * // Using rhythm mixin
 * @include apply-rhythm {
 *   margin-bottom: var(--base);
 * }
 *
 * @since 0.1.0
 * @see standard-01-token.scss
 */

$mobile: 600px;
$small: 768px;
$large: 1024px;
$wide: 1440px;

$text-elements: "mark, callout-title::before, div, span, li::before, button, legend, fieldset, label, li, h1, h2, h3, h4, h5, h6, p:not(:has(img)), figcaption, dt, dd, label, td, th, .callout, pre, code, .lined, aside";

$rhythm-elements: ".alert, #comments, h1, h2, h3, h4, h5, h6, blockquote, ul, ol, dl, p, blockquote, pre, dt, dd, table, figure, form, fieldset, aside, .callout";
$rhythm-block-elements: "#comments, .callout,  pre, figure, p:has(img), section, .box, .card, .container-small, .container-accent, .containe-feature, .container-hero, .scroll, hr, aside";
$rhythm-block-small: ".container-small, .callout,  pre, figure, p:has(img)";

$elements-boxed: "blockquote, pre, .alert, aside, .card, .callout, img, iframe, .outset";
