---
title: "404"
aliases: []
created: 2024-03-20 00:00
modified: 2025-09-14 17:33
cssclasses: []
eleventyExcludeFromCollections: true
layout: note
maturity:
permalink: 404.html
publish: true
show_backlinks: false
tags:
  - system
type: note
visibility: unlisted
website_folder: content
---

Se perdre, ce n’est pas toujours une erreur.

Parfois, c’est une étape. Un détour nécessaire. Une faille par où peut entrer un peu de lumière. Alors prends ton temps. Respire.

Tu finiras par [retrouver ton chemin](/) — ou en tracer un nouveau.

![250619_ffp-001-20160806-FFP_2349_Original](../public/img/250619_ffp-001-20160806-FFP_2349_Original.jpeg)

> [!caption] Title
> Punjab, 2012 — *« Je ne savais plus où j’allais, mais j’y suis allé quand même. »*
