<!DOCTYPE html>
<html lang="{{ site.language }}" data-theme="{{ theme }}">
    <head>
      {% include site.standard.layouts.meta %}
      <title>{{ title or site.title }}{% if title and title != site.title %} · {{ site.title }}{% endif %}</title>
    </head>
    {% standardFonts %}
    {% standardAssets %}
    {% standardLab %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <body {% bodyHtmx %}>
		<header class="flex center-content" style="justify-content: space-between; max-width: 100%;">
			<div class="flex" style="align-items: left;">
				<a href="/" style="text-decoration: none;">{{ site.title }}</a>
			</div>
			{% menu site.nav.header, {className: "menu flex small margin-0 padding-0"} %}
		</header>
     	<main class="prose md">
        {{ content | safe }}
        {% standardComment %}
      </main>
			<footer class="prose smaller">
			  <hr >
				<p>© {{ year }} {{ site.author.name }}. <a href="/">{{ site.title }}</a> | <a href="https://github.com/ZeFish/Standard/blob/main/LICENSE" class="external-link">MIT License</a> | {{ pkg.version }}</p>
			</footer>
	</body>
</html>
