<!DOCTYPE html>
<html lang="{{ site.language }}" class="rhythm">
    <head>
      {% include "meta.njk" %}
    </head>
    {% standardFonts %}
    {% standardAssets %}
    {% standardLab %}
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Load GitHub Comments Client Library (required for comment form) -->
    <script defer src="/assets/standard/standard.comment.js"></script>
	<body hx-boost="true" hx-target="main" hx-select="main" hx-swap="innerHTML show:none">
		<header>
			<nav class="display-flex" style="justify-content: space-between; align-items: center; max-width: 100%;">
				<div class="display-flex" style="align-items: left;">
					<a href="/" style="text-decoration: none;">{{ site.title }}</a>
				</div>
				<ul class="display-flex gap-base no-bullet smaller" style="margin: 0; padding: 0;">
					<li><a href="/css/">CSS</a></li>
					<li><a href="/11ty/">11ty</a></li>
					<li><a href="/cloudflare/">Cloudflare</a></li>
					<li><a href="/docs/" hx-boost="false">Docs</a></li>
					<li><a href="/getting-started/">Getting Started</a></li>
					<li><a href="/cheat-sheet/">Cheat Sheet</a></li>
				</ul>
			</nav>
		</header>
     	<main class="prose md">
          {{ content | safe }}
      </main>
		  {% if comment or page.data.comment %}{% standardComment %}{% endif %}
			<footer class="prose smaller">
			  <hr >
				<p>© {{ now.getFullYear() }} {{ site.author.name }}. <a href="{{ site.url }}">{{ site.title }}</a> | <a href="https://github.com/ZeFish/Standard/blob/main/LICENSE">MIT License</a> | {{ pkg.version }}</p>
			</footer>
	</body>
</html>
