<!DOCTYPE html>
<html lang="{{ site.language }}" class="rhythm" data-theme="paper">
    <head>
      {% include "meta.njk" %}
    </head>
    {% standardFonts %}
    {% standardAssets %}
    {% standardLab %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <body {% bodyHtmx %}>
		<header>
			<nav class="display-flex" style="justify-content: space-between; align-items: center; max-width: 100%;">
				<div class="display-flex" style="align-items: left;">
					<a href="/" style="text-decoration: none;">{{ site.title }}</a>
				</div>
				<ul class="display-flex gap-base no-bullet smaller" style="margin: 0; padding: 0;">
					<li><a href="/docs/" hx-boost="false">Docs</a></li>
					<li><a href="/getting-started/">Getting Started</a></li>
					<li><a href="/cheat-sheet/">Cheat Sheet</a></li>
				</ul>
			</nav>
		</header>
     	<main class="prose md">
        {{ content | safe }}
        {% standardComment %}
      </main>
			<footer class="prose smaller">
			  <hr >
				<p>© {{ now.getFullYear() }} {{ site.author.name }}. <a href="{{ site.url }}">{{ site.title }}</a> | <a href="https://github.com/ZeFish/Standard/blob/main/LICENSE">MIT License</a> | {{ pkg.version }}</p>
			</footer>
	</body>
</html>
