<!DOCTYPE html>
<html lang="{{ site.language }}" class="rhythm">
    <head>
      {% include "meta.njk" %}
    </head>
    {% standardFonts %}
    {% standardAssets %}
    {% standardLab %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <body {% bodyHtmx %}>
        {{ content | safe }}
	</body>
</html>
